@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: #d1dfec;
}

.container {
    position: absolute;
    width: 325px;
    background: #15161a;
    padding: 2px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.header {
    position: relative;
    height: 200px;
    padding: 20px;
}

.clear {
    padding: 0 10px;
    width: 100%;
    height: 180px;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

#title {
    position: absolute;
    font-size: 25px;
    font-weight: 500;
    text-align: left;
}

#date {
    width: 100%;
    font-size: 21px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

.content {
    height: 100%;
    min-height: 300px;
    margin-top: 50px;
}

#list {
    height: 90%;
    min-height: 290px;
    border-bottom: 2px solid #8052ec;
}

.add-item {
    height: 100%;
    min-height: 40px;
    padding: 8px;
    color: #8052ec;
}

input[type=text] {
    width: 87%;
    height: 40px;
    display: inline;
    padding: 10px;
    border: none;
    font-size: 18px;
    background: #15161a;
}

input[type=text]::placeholder {
    color: #fff;
}

.add-item .fas {
    display: inline-block;
    font-size: 34px;
    margin-top: 7px;
}

.fas {
    cursor: pointer;
    transition: .1s linear;
}

.fas:hover {
    transform: scale(1.2);
}

.list {
    position: relative;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    padding: 5px 20px;
}

.list span {
    margin: 0 0 0 20px;
    color: #fff;
    cursor: pointer;
}

.list button {
    width: 40px;
    height: 100%;
    border: none;
    border-radius: 50px;
    background: #8052ec;
    color: #fff;
    outline: none;
    cursor: pointer;
}

.list::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 15px;
    background: #d1d3d4;
    font-size: 15px;
    text-align: center;
    border-radius: 50px;
}

.complete {
    text-decoration: line-through;
    color: #ccc;
}

.complete::after {
    content: "\2713";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    left: 15px;
    background: green;
    font-size: 15px;
    text-align: center;
    border-radius: 50px;
}